body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

h1 {
    font-family: "Indie Flower";
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}

#avail {
    text-align: center;

}

#devoured {
    text-align: center;

}

li {
    font-size: 20px;
    list-style-type: none;
}


#add {
    clear: both;
    text-align: center;
}